<ion-header>
  <ion-toolbar color="primary">
    <ion-segment [ngModel]="tag" (ionChange)="tagChanged($event)" scrollable color="light">
      <ion-segment-button *ngFor="let tag of tags" [value]="tag">
        <ion-label color="light">{{tag}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-segment [ngModel]="brand" (ionChange)="brandChanged($event)" scrollable color="light">
      <ion-segment-button *ngFor="let brand of txTags[tag]" [value]="brand">
        <ion-label color="light">{{brand}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col *ngFor="let prod of prodsByBrand(prods[tag], brand)">
        <ion-card (click)=prodClicked(prod) class="ion-no-margin">

          <ion-item lines="none" color="light" no-pading class="ion-no-margin">
            <ion-text color="dark" no-pading class="ion-no-margin">
              <h3 color="primary" no-pading class="ion-no-margin">{{prod.precio | number:'1.2-2'}}</h3>
            </ion-text>
            <ion-badge slot="end" color="warning" no-pading class="ion-no-margin">{{Tickets.getProdQtyOnTicket(prod)}}</ion-badge>
          </ion-item>

          <ion-card-content>{{prod.descrip}} </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>