<ion-header>
  <ion-toolbar color="medium">
    <ion-segment (ionChange)="tagChanged($event)" scrollable color="dark">
      <ion-segment-button *ngFor="let tag of tags" href="#dogs" [value]="tag">
        <ion-label color="light">{{tag}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar color="medium">
    <ion-segment (ionChange)="brandChanged($event)" scrollable color="dark">
      <ion-segment-button *ngFor="let brand of txTags[tag]" href="#dogs" [value]="brand">
        <ion-label color="light">{{brand}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col *ngFor="let prod of prodsByBrand(prods[tag], brand)">
        <ion-card (click)=prodClicked(prod) no-margin>
          <ion-card-header>
            <ion-card-title>{{prod.precio | currency:'MXN':'symbol-narrow':'1.2-2'}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{prod.descrip}}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>