<ion-content>
  <ion-slides pager="false">
    <ion-slide #favsSlider *ngFor="let tag of tags">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-title>{{tag}}</ion-title>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col *ngFor="let prod of prods[tag]" size="4" no-padding>
            <ion-card>
              <ion-item>
                {{prod.precio | currency:'MXN':'symbol-narrow':'1.2-2'}}
              </ion-item>
              <ion-card-subtitle>{{prod.descrip}}</ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>