<ion-content padding>
  <ion-card *ngIf="Tickets.newTicket.size == 0">
    <ion-card-header>
      <ion-card-subtitle>No hay productos en el ticket</ion-card-subtitle>
    </ion-card-header>
    <ion-item lines="none">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-title>Ticket vacío</ion-title>
    </ion-item>

    <ion-card-content>
      Usa la búsqueda o los favoritos para agregar artículos al ticket.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let row of Tickets.newTicket | keyvalue">
      <ion-item>
        <ion-text slot="start" (click)="minusOne(row.value.prod)">
          {{row.value.qty}}
        </ion-text>

        <ion-label (click)="plusOne(row.value.prod)">
          <h3>{{ row.value.prod.descrip }}</h3>
          <p *ngIf="0 < row.value.prod.articulo">{{ row.value.prod.articulo }}</p>
        </ion-label>

        <ion-text slot="end" text-end>
          <small>{{row.value.prod.precio | currency:'MXN':'symbol-narrow':'1.2-2'}}</small><br />
          {{row.value.qty * row.value.prod.precio | currency:'MXN':'symbol-narrow':'1.2-2'}}
        </ion-text>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="minusOne(row.value.prod)" color="ligth">
          <ion-icon slot="icon-only" name="remove-circle" color="primary"></ion-icon>
        </ion-item-option>
        <ion-item-option color="ligth">
          {{row.value.qty}}
        </ion-item-option>
        <ion-item-option (click)="plusOne(row.value.prod)" color="ligth">
          <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>