<ion-content>
  <ion-card *ngIf="Tickets.newTicket.size == 0">
    <ion-card-header>
      <ion-card-subtitle>No hay productos en el ticket</ion-card-subtitle>
    </ion-card-header>
    <ion-item lines="none">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-title>Ticket vacío</ion-title>
    </ion-item>

    <ion-card-content>
      Usa la búsqueda o los favoritos para agregar artículos al ticket.
    </ion-card-content>
  </ion-card>

  <ion-list lines="none" no-padding>
    <ion-item-sliding *ngFor="let row of Tickets.newTicket.values(); index as i">
      <ion-item [color]="i % 2 === 0 ? 'medium': 'ligth'">
        <ion-text slot="start" (click)="minusOne(row.prod)">
          {{row.qty}}
        </ion-text>

        <ion-label (click)="plusOne(row.prod)">
          <h3>{{ row.prod.descrip }}</h3>
          <p *ngIf="0 < row.prod.articulo">{{ row.prod.articulo }}</p>
        </ion-label>

        <ion-text slot="end" class="ion-text-end">
          <small>{{row.prod.precio | currency:'MXN':'symbol-narrow':'1.2-2'}}</small><br />
          {{row.qty * row.prod.precio | currency:'MXN':'symbol-narrow':'1.2-2'}}
        </ion-text>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="minusOne(row.prod)" color="ligth">
          <ion-icon slot="icon-only" name="remove-circle" color="primary"></ion-icon>
        </ion-item-option>
        <ion-item-option color="ligth">
          {{row.qty}}
        </ion-item-option>
        <ion-item-option (click)="plusOne(row.prod)" color="ligth">
          <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark" *ngIf="searchTerm && searchTerm.length >= 4 && filteredItems.length > 0">
    <ion-list no-padding>
      <ion-item color="dark" *ngFor="let item of filteredItems.slice(0,5)" (click)="prodClicked(item)">
        <ion-label>
          <h3>{{ item.descrip }}</h3>
          <p *ngIf="0 < item.articulo">{{ item.articulo }}</p>
        </ion-label>

        <ion-text slot="end" class="ion-text-end">
          {{item.precio | currency:'MXN':'symbol-narrow':'1.2-2'}}
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar debounce="150" search-icon="barcode" placeholder="Ingresa código" [(ngModel)]="searchTerm"
      (ionChange)="searchEvent(searchTerm)"></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button color="success">
        <ion-title>{{Tickets.getNewTicketTotal() | currency:'MXN':'symbol-narrow':'1.2-2'}}</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>